<div class="container-fluid pad-custom">
 <nav class="down-bar" id="nav_id">
 	<div class="col-md-4 logo">
 		<p>Logo</p>
 	</div>
 	<div class="col-md-4 action-bar">
 		<div class="col-md-6 accedi">
 			<center>
 				<%= image_tag('user-login.png', class: 'user-profile')%>
 				<a href="#accedi" class="user-login-link">Accedi</a>
 			</center>
 		</div>
 		<div class="col-md-2 language">
 			<center>
 			<%= image_tag('italy.png', class: 'flag')%>
 			</center>
 		</div>
 	</div>
</nav> 

	<div class="header-container"></div>
	<div class="content-container">
		<div class="col-md-12 information-app-header">
			<h3>Sei stanco di cercare il tuo veicolo?</h3>
		</div>
		<div class="col-md-12">
			<div class="col-md-4 information-app">
				ciao
			</div>
			<div class="col-md-4 information-app">
				ciao
			</div>
			<div class="col-md-4 information-app">
				ciao
			</div>
		</div>
	</div>
	<div class="footer-container"></div>

</div>
<!--
<script type="text/javascript">
$(window).scroll(function() {    



    var scroll = $(window).scrollTop();

    if (scroll >= 100) {
        $(".down-bar").addClass("down-bar-scroll");
    }else{
    	$(".down-bar").removeClass("down-bar-scroll");
    }
});
</script> -->